@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  overflow: hidden;
  /* For full screen 3D experience */
  touch-action: none;
  /* Prevent pull-to-refresh and scrolling on mobile */
}